div.hidden {display:none;}
h2 span {border: 4px dashed black; padding: 10px;}
h2 {color: purple; text-align: center; padding: 18px 0 18px; margin: 0 0 10px 0;}
h1 {color: black; text-align: left; font-family: Arial,sans-sarif;}
h3 {color:black; text-align: right; position: static; top: 50px; right: 10px;}
.selected {background-color: coral; color: black; font-weight: bold;}
div.header {background-image: url(C:/Users/Emily/Pictures/background.jpg); background-size: cover; padding: 30px;}
div.posts {
	background-color: LightSkyBlue;
	font-family: Actor;
	font-size: 15px; 
}
nav li {
	display: inline;
	padding: 20px;
	border: 5px solid black;
	padding: 1px;
}
ul {
	text-align: center;
}












